.cartView{
  padding:40px;
  text-align: center;
}

.ItemContainer{
  display: flex;
  padding: 20px;

}

.ItemContainerImg{
  display: flex;
  flex-direction: column;
  width:10%;
  img{
    height: 100px;
  }
}

.ItemContainerDetails{
  width: 100%;
  text-align:center;
}