.navbar{
    display: flex;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        
        li {
            margin: 10px;
        }
    }
}