.navbar{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px;
    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        text-decoration:none;
    }
}

.link {
  text-decoration:none;
  color: #FFF;
}

.category {
  margin: 15px;
  font-size: 18px;
}